<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
      </div>
      <div class="col-md-8">
        <p>Having recently embarked on a career change (ex. Fund Management & Investor Relations) - I am studying to become a Full Stack Web Developer.</p>

        <p>I'd 'fallen' into my previous career trajectory, and whilst I gained some valuable experience in that industry, I felt like I was not pursuing something that I was passionate about.</p>

        <p>I've always loved technology and it ticked all the boxes for me. When I assessed my skills and looked at my past work achievements, creative problem solving and building tools to improve processes were always things I'd done successfully in the past.</p>

        <p>My ultimate dream, as a newly graduated developer, would be to do work that not only solves problems but also makes a real and meaningful difference in people’s lives. I would love to work in a collective where there is diversity in backgrounds, experience and expertise - where a pursuit of knowledge is rewarded and encouraged.</p>

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Job 1
            </div>
            <div class="card card-block">
              Job 2
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              School 1
            </div>
            <div class="card card-block">
              School 2
            </div>
            <div class="card card-block">
              School 3
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
