<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
  </div>
  <div class="col-md-8">
    <p>Having recently embarked on a career change (ex. Fund Management & Investor Relations) - I am studying to become a Full Stack Web Developer.</p>

    <p>I'd 'fallen' into my previous career trajectory, and whilst I gained some valuable experience in that industry, I felt like I was not pursuing something that I was passionate about.</p>

    <p>I've always loved technology and it ticked all the boxes for me. When I assessed my skills and looked at my past work achievements, creative problem solving and building tools to improve processes were always things I'd done successfully in the past.</p>

    <p>I am looking to join an organisation where I can help make a difference one line of code at a time.</p>
  </div>
</div>